---
import Layout from '../layouts/Layout.astro';
import AppHeader from '../components/Header.astro';
import AppFooter from '../components/Footer.astro';
import CallToAction from '../components/CallToAction.astro';
---

<Layout>
    <AppHeader />

    <main class="max-w-4xl mx-auto px-4 py-12 min-h-[60vh]">
        
        <section class="mb-12">
            <div class="inline-block bg-yellow-400 border-2 border-black px-4 py-1 font-bold mb-6" style="box-shadow: 4px 4px 0px 0px rgba(0,0,0,1); background-color: var(--yellow);">
                ABOUT ME
            </div>
            <h1 class="text-5xl font-black mb-6">
                <!-- Title goes here -->
            </h1>
        </section>

        <section class="bg-white border-3 border-black p-8 shadow-[8px_8px_0px_0px_rgba(0,0,0,1)] min-h-[200px]">
            <!-- Content goes here -->
        </section>

    </main>

    <CallToAction />
    <AppFooter />
</Layout>
