---
const { text, link, target } = Astro.props
---

<div class="relative group">
   <a href={link} target={target} class="bg-(--blue) text-black text-md font-medium flex items-center h-12 px-6 border-3 rounded-full ">{text}</a>
</div>